

/* ==========================================================================
   Thomas' custom styles
   ========================================================================== */

html, body{
	padding: 0px;
	margin: 0px;
}

#intro{
	height:100%;
}

#game{
	display:none;
	width: 100%;
	height:100%;
	margin-bottom: 50px;
}

#img-back{
	z-index:1;
	width:100%;
}

#moustache-papi{
	background: url(../img/moustache-papi.png) no-repeat;
	position: absolute;
	top: 7%;
	left: 27%;
	z-index:2000;
	height: 70px;
	width: 250px;
}

#moustache-italy{
	background: url(../img/moustache-italy.png) no-repeat;
	position: absolute;
	top: 10%;
	display:none;
	z-index:2001;
	height: 100px;
	width: 200px;
}

#moustache-biker{
	background: url(../img/moustache-biker.png) no-repeat;
	position: absolute;
	top: 30%;
	left: 58%;
	z-index:2003;
	display:none;
	height: 155px;
	width: 145px;
}

#moustache-chaplin{
	background: url(../img/moustache-chaplin.png) no-repeat;
	position: absolute;
	top: 10%;
	left:46%;
	z-index:2004;
	display:none;
	height: 67px;
	width: 90px;
}

#moustache-hipster{
	background: url(../img/moustache-hipster.png) no-repeat;
	position: absolute;
	top: 70%;
	left: 20%;
	z-index:2005;
	display:none;
	height: 67px;
	width: 244px;
}

#moustache-bonhomme{
	background: url(../img/moustache-bonhomme.png) no-repeat;
	position: absolute;
	top: 40%;
	left: 30%;
	z-index:2006;
	display:none;
	height: 96px;
	width: 200px;
}

#moustache-magicien{
	background: url(../img/moustache-magician.png) no-repeat;
	position: absolute;
	top: 60%;
	left: 50%
	z-index:2007;
	display:none;
	height: 48px;
	width: 260px;
}

#moustache-chinoise{
	background: url(../img/moustache-lu.png) no-repeat;
	position: absolute;
	top: 20%;
	left: 65%
	z-index:2008;
	display:none;
	height: 160px;
	width: 145px;
}

#moustache-golden{
	background: url(../img/moustache-golden.png) no-repeat;
	position: absolute;
	top: 30%;
	left: 30%;
	z-index:2021;
	display:none;
	height: 100px;
	width: 250px;
}

.alert{
	position:fixed;
	bottom: 60px;
	display:none;
}
